recursive-include src/ms_peak_picker *.pyx
recursive-include src/ms_peak_picker *.pxd
recursive-include src/ms_peak_picker *.c
recursive-include src/ms_peak_picker *.h

recursive-exclude src/ms_peak_picker *.pyd

include README.rst
include requirements.txt
include pyproject.toml
